ase==3.23.0
fairchem-core==1.1.0
fairchem-data-oc==0.0.1
fairchem-demo-ocpapi==0.1.0
langchain==0.3.23
langchain-anthropic==0.3.13
langchain-community==0.3.21
langchain-core==0.3.60
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
scipy==1.13.1
torch==2.6.0
torch-geometric==2.6.1
torch_cluster==1.6.3+pt26cu121
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.6.0
torchmetrics==1.7.0
torchvision==0.21.0